
/* UCBP Episodes */

.main-episode-container {
    margin-top: 3em;
    width: 100%;
}

.ucbp-container>h2 {
    font-weight: bolder;
}

.ucbp-container {
    width: 85%;
    margin: 0 auto;
}