/* MainTop */
.first-bot-width {
    height: 35em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
}
.slider-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mid-pic {
    height: 28em;
    object-fit: fill;
    text-align: center;
    width: 70%;
    margin-left: 4.5em;
    margin-bottom: 2em;
    border-radius: 10px;
}

.mid-picB {
    height: 27em;
    object-fit: cover;
    text-align: center;
    width: 70%;
    margin-left: 4.5em;
    margin-bottom: 2em;
    border-radius: 10px;
}

.slider-set {
    margin-top: .5em;
    
}

.slider-set-main {
    width: 25%;
    margin-left:25em;
}

.slider-link {
    font-style: none;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    color: aliceblue;
}

.slider-title {
    margin-top: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 50%;
    height: 25px;
}

@media screen and (max-width: 1050px) {}

@media screen and (max-width: 768px) {
    .first-bot-width {
        width: 85%;
    }
    .first-bot-width {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slider-title {
        font-size: 25px;
        width: 100%;
        margin-bottom: 5rem;
    }

    .slider-set-main {
        width: 70%;
        text-align: center;
        margin-right: 25rem;

    }

    .slider-container {
        margin: 0 auto;
        width: 75%;
    }

    .mid-pic {
        height: 20em;
        width: 15em;
        margin-left: 5.5rem;
    }

    .mid-picB {
        height: 20em;
        width: 15em;
        margin-left: 5.5rem;
    }
    .slider-link {
        font-size: 20px;
    }
}

@media screen and (max-width: 490px) {
    .first-bot-width {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .slider-title {
        font-size: 20px;
        width: 100%;
        margin-bottom: 5rem;
    }

    .slider-set-main {
        width: 70%;
        text-align: center;
        margin-right: 25rem;

    }

    .slider-container {
        margin: 0 auto;
        width: 100%;
    }

    .mid-pic {
        height: 15em;
        width: 10em;
        margin-left: 3.5rem;
    }

    .mid-picB {
        height: 15em;
        width: 10em;
        margin-left: 3.5rem;
    }
    .slider-link {
        font-size: 15px;
    }
}