  /* Main page */

.main-container {
    margin-top: 3em;
    height: 100%;
    width: 100%;
}


.first-top-width {
    max-height: 22em;
    width: 92%;
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    border-radius: 10px;
    margin-bottom: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.sub-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.main-image-container {

}
.fix-image {
    object-fit: cover;
    width: 18em;
    border-radius: 5px;
}
.text-container > h2,h3,h5 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.1em;
    font-weight: 800;
    margin-left: 5em;
    margin-right: 10rem;
    margin-top: 3rem;
    color: whitesmoke;
    text-align: center;
}


.top-sub-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
}

.social-media-header {
    flex: .5;
    color: white;
    width: 15%;
}

.social-media-header>h4 {
    font-size: xx-large;
    font-weight: bolder;

}

.social-media-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media-cards {
    background-color: rgba(245, 245, 245, 0.285);
    margin-right: 1em;
    border-radius: 10px;
    position: relative;
    transition: 0.7s;
    width: 5em;
    height: 5em;
    border: 1px solid #ff8833;
}

.social-media-cards:hover {
    transform: scale(1.1);
    background-color: #ff88335d;
}

.home-image-U {
    width: 40px;
    margin-top: 25px;
}

.home-image {
    width: 40px;
    margin-top: 20px;
}

.main-social-image {
    border-radius: 50%;
}

.first-mid-width {
    height: 32em;
    max-height: 50em;
    min-height: 25em;
    width: clamp(100%, 100%, 100%);
    background: linear-gradient(to bottom right, #ff8833, #fffa66);
    display: flex;
    margin-top: 10.5em;
    /* border-top: 2px solid white ;
    border-bottom: 2px solid white ; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.video-flex {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    gap: 12em;
}

.fav-episodes {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    position: relative;
    /* color: #262626; */
    transition: 1.0s;
    z-index: 3;
}

.fav-episodes:hover {
    transform: scale(1.1);

    /* color: #fff;
    transform: rotateY(180deg) */

}



.fix-imageBG1 {
    object-fit: cover;
}

/* .fix-image {
    transition: transform 0.3s ease-in-out;

}
.fix-image:hover {
    transform: scale(1.1);

} */

#link-to-connect {
    color: white;
    cursor: pointer;
    text-decoration: none;

}

#link-to-connect:hover {
    color: darkred;
    cursor: pointer;
}


.episode-title {
    text-align: center;
    margin-top: 1.5em;
    /* padding: 1em; */
    color: white;
    font-weight: bolder;
    width: 100%;
}

.mid-header {
    text-align: left;
    margin-top: 2em;
    font-weight: bolder;
    border-bottom: 3px solid lightgray;
    width: 16.5em;
}

@media screen and (max-width: 1050px) {
    .first-mid-width {
        flex-direction: column;

    }
    .sub-text {
        display: flex;
        justify-content: space-around;
        margin: 0 0 3rem;
    }
    .text-container > h2,h3,h5 { 
        font-size: 15px;
        line-height: 15px;
        text-align: center;
    }
    .fix-image {
        width: 12rem;
    }
    .top-sub-container {
        flex-direction: column;
    }

}

@media screen and (max-width: 650px) {
    .first-mid-width {
        flex-direction: column;

    }
    .sub-text {
        display: flex;
        justify-content: space-around;
        margin: 0 0 3rem;
    }
    .text-container > h2,h3,h5 { 
        font-size: 15px;
        line-height: 15px;
        text-align: center;
    }
    .fix-image {
        width: 12rem;
    }
    .text-container > h2,h3,h5 { 
        font-size: 10px;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 490px) {
    .main-container {
        /* height: 500px; */
    }
    .first-mid-width {
        height: 15rem;
    }
    .sub-text {
        display: flex;
        justify-content: space-around;
        margin: 0 0 3rem;
    }

    .text-container > h2,h3,h5 { 
        font-size: 9px;
        /* line-height: 15px; */
        text-align: center;
        margin-top: 2rem;
        margin-right: 5px;
        height: 0;
    }
    .fix-image {
        width: 9rem;
    }
    .top-sub-container {
        /* flex-direction: column; */
        width: 78%;
    }
    .social-media-links {

    }
    .social-media-cards {
        width: 5em;
        height: 3em;
    }
    /* Images for Social-Cards */
    .home-image-U {
        width: 30px;
        margin-top: 12px;
    }
    
    .home-image {
        width: 30px;
        margin-top: 8px;
    }
    
    .main-social-image {
        border-radius: 50%;
    }
    .social-media-header {
        width: 100%;

    }
    .social-media-header>h4 {
        font-size: 15px;
        margin-top: 2rem;
    }
} 