    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


    .nav-bar-main {
        height: 10em;
        background: linear-gradient(to bottom right, #30353e, black);
        color: white;
        display: flex;
        /* flex-wrap: wrap; */
        align-items: center;
        width: 100%;
        padding: 5em;
        /* margin-bottom: 5em; */
        box-shadow: 5px 5px 20px black;
    }

    #nav-title {
        font-size: xx-large;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        width: 70%;
        margin-right: 5em;
    }

    #ucbp-logo {
        height: 5em;
        width: auto;
        opacity: .5;
        transition: opacity 0.3s ease-in-out;
        margin-right: 1em;
        border-radius: 10px;
    }

    #ucbp-logo:hover {
        opacity: 1;
    }

    .nav-right {
        width: 80%;
        margin-top: 25px;
    }

    .nav-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        font-size: large;
        font-weight: 600;
    }

    .nav-list>li:hover {
        margin-bottom: 10px;
        color: #DE1A1A;
        position: relative;
        transition: 0.5s;
        border-bottom: 2px solid lightgray;
        border-top: 2px solid lightgray;
    }

    .nav-link {
        font-style: none;
        font-size: large;
        font-weight: 600;
        text-decoration: none;
    }


    /* Bottom Bar */



    .bottom-bar {
        background-color: #DE1A1A;
        height: 10em;
        margin: 0 auto;
        padding: 1em;
    }
    .bottom-nav {
        display: flex;
        justify-content: space-between;
        width: 45%;
        margin: 0 auto;
    }
    .nav-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        height: 5em auto;
    }
    .social-mediaB {
        display: flex;
        justify-content: space-evenly;
        width: 45%;
        /* margin: 0 auto; */
        margin-left: 24.8em;
    }
    .bot-social-logo {
        height: 40px;
    }


    /* Main page */

    .main-container {
        margin-top: 3em;
        height: 100%;
        width: 100%;
    }

    .first-top-width {
        max-height: 22em;
        min-height: 23em;
        width: clamp(92%, 92%, 92%);
        margin: 0 auto;
        /* background: linear-gradient(to bottom right, #6699ff,  #3633ff); */
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
        border-radius: 10px;
        margin-bottom: 5em;
        display: flex;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    .top-sub-container {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;
    }

    .social-media-header {
        flex: .5;
        color: white;
        width: 15%;
    }

    .social-media-header>h4 {
        font-size: xx-large;
        font-weight: bolder;

    }

    .social-media-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .social-media-cards {
        background-color: rgba(245, 245, 245, 0.285);
        margin-right: 1em;
        border-radius: 10px;
        position: relative;
        transition: 0.7s;
        width: 5em;
        height: 5em;
        border: 1px solid #ff8833;
    }
    .social-media-cards:hover {
        transform: scale(1.1);
        background-color: #ff88335d;
    }
    .home-image-U {
        width: 40px;
        margin-top: 25px;
    }
    .home-image {
        width: 40px;
        margin-top: 20px;
    }
    .main-social-image {
        border-radius: 50%;
    }
    .first-mid-width {
        height: 32em;
        max-height: 50em;
        min-height: 25em;
        width: clamp(100%, 100%, 100%);
        background: linear-gradient(to bottom right, #ff8833, #fffa66);
        display: flex;
        margin-top: 10.5em;
        /* border-top: 2px solid white ;
        border-bottom: 2px solid white ; */
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    .video-flex {
        display: flex;
        justify-content: center;
        margin-top: 4em;
        gap: 12em;
    }

    .fav-episodes {
        height: 200px;
        width: 200px;
        border-radius: 10%;
        position: relative;
        /* color: #262626; */
        transition: 1.0s;
        z-index: 3;
    }

    .fav-episodes:hover {
        transform: scale(1.1);

        /* color: #fff;
        transform: rotateY(180deg) */

    }

    .fix-image {
        object-fit: cover;
        width: 20em;
        border-radius: 2%;

    }

    .fix-imageBG1 {
        object-fit: cover;
    }

    /* .fix-image {
        transition: transform 0.3s ease-in-out;

    }
    .fix-image:hover {
        transform: scale(1.1);

    } */
    .sub-text {
        margin-left: 5em;
        margin-right: 10em;
        margin-top: 3em;
        color: whitesmoke;
    }

    .sub-text>h2,
    h3,
    h5 {
        margin-bottom: 1.1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-weight: 600;
    }

    #link-to-connect {
        color: white;
        cursor: pointer;
        text-decoration: none;

    }

    #link-to-connect:hover {
        color: darkred;
        cursor: pointer;
    }


    .episode-title {
        text-align: center;
        margin-top: 1.5em;
        /* padding: 1em; */
        color: white;
        font-weight: bolder;
        width: 100%;
    }

    .mid-header {
        text-align: left;
        margin-top: 2em;
        font-weight: bolder;
        border-bottom: 3px solid lightgray;
        width: 16.5em;
    }

    /* MainTop */
    .first-bot-width {
        height: 30em;
        background: linear-gradient(rgba(0, 0, 0, 0.764), rgba(0, 0, 0, 0.1));
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
        width: clamp(100%, 100%, 100%);
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
    }

    ul.slick-dots {
        margin-bottom: 2em;

    }

    .mid-pic {
        height: 22em;
        object-fit: cover;
        text-align: center;
        width: clamp(50%, 80%, 90%);
        margin-left: 2.5em;
        margin-top: 2em;
        border-radius: 10px;
    }

    .mid-picB {
        height: 22em;
        object-fit: cover;
        width: clamp(50%, 80%, 90%);
        margin-left: 2.5em;
        margin-top: 2em;
        border-radius: 10px;
    }

    .slider-set {
        margin-top: .5em;
    }

    .slider-set-main {
        margin-top: .5em;
        width: 25%;
        /* margin-left:25em; */
    }

    .slider-link {
        font-style: none;
        font-size: large;
        font-weight: 600;
        text-decoration: none;
        color: aliceblue;
    }

    .slider-title {
        margin-left: 12em;
        margin-top: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        font-weight: 600;
    }







    /* About page */
    .container-About-main {
        margin-top: 3em;
    }

    .middle-container {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 5em;
    }

    .h4-margin {
        /* margin-top: 25px; */
        /* margin-bottom: 25px; */
        text-align: left;
    }

    .container-about {
        border-radius: 10px;
        height: 25em;
        width: 50em;
    }

    /* AboutMore */
    .mid-about-div {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        border-radius: 10px;
        margin-bottom: 1em;
        height: 30em;
        width: 80%;
        background: linear-gradient(#30353eaf, black);
        padding: 2em;
        border: 2px solid gray;
    }

    .mid-about-div:hover {
        background-color: #30353e;
    }

    .container-subText {
        margin: 0 auto;
        height: 75px;
        width: 750px;
        margin-top: 15px;
    }

    .support-text-container {
        margin: 0 auto;
        height: 75px;
        width: 750px;
    }

    .support-text-container>h6 {
        color: whitesmoke;
        font-weight: bolder;
    }

    .support-text {
        color: whitesmoke;
        font-weight: bolder;
        text-decoration: none;
    }

    #text:hover {
        color: #DE1A1A;
        font-weight: bolder;
        border-bottom: 2px solid #DE1A1A;
    }

    #img-size {
        border-radius: 10px;
        margin-bottom: 5px;
    }


    /* View */
    .container-main {
        margin: 0 auto;
        width: 1000px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        height: 1000px;
    }

    .link {
        color: black;
        text-decoration: none;
    }

    .link-2 {
        color: white;
        text-decoration: none;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .button {
        margin-bottom: 45px;
        text-align: end;
    }

    table tr td,
    table tr th {
        background-color: rgba(240, 201, 130, 0.644) !important;
    }

    /* UCBP Episodes */

    .main-episode-container {
        margin-top: 3em;
        width: 100%;
    }

    .ucbp-container>h2 {
        font-weight: bolder;
    }

    .ucbp-container {
        width: 85%;
        margin: 0 auto;
    }

    /* C-B News */

    .mainCB-container {
        margin-top: 3em;
        width: 100%;
    }

    .news-container {
        margin: 0 auto;
        width: 85%;
        height: 100%
    }

    #h3-margin {
        text-align: right;
        font-weight: bolder;
    }

    .top-header {
        display: flex;
        justify-content: space-between;
        background-color: #282c3474;
        color: whitesmoke;
        width: 81em;
        margin: 0 auto;
        border-radius: 10px;
        border: 2px solid gray;
        height: 25em;
    }

    .top-header:hover {
        background-color: #282c34a9;

    }

    .video-container {
        margin: 0 auto;
        background: rgba(56, 106, 198, 0.428);
        border-radius: 10px;
        margin-bottom: 1em;
        margin-top: 3em;
        height: 30em;
        width: 85%;
        border: 2px solid gray;
    }

    .video-container:hover {
        background-color: rgba(100, 148, 237, 0.363);
    }

    .news-video {
        display: flex;
        width: 100%;
    }

    .top-header>h3 {
        margin-top: 1em;
        margin-left: 1em;
    }

    #img-size {
        height: 375px;
        margin-top: 10px;
        margin-right: 3px;
    }

    #delta-reaction {
        height: 350px;
        width: 400px;
        margin-top: 4em;
        margin-left: 7em;
        border-radius: 10px;
        transition: 1.0s;
        z-index: 3;
    }

    #delta-reaction:hover {
        transform: scale(1.1);
    }

    .h4-margin {
        font-weight: bolder;
    }

    /* Connect */
    .main-connect {
        margin: 0 auto;
        margin-top: 3em;
    }

    .main-connect>h2 {
        font-weight: bolder;
        margin-bottom: 1em;
    }

    .connect-container {
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
        background-color: #bc2d1a6f;
        width: 80%;
        height: 10em;
        margin-bottom: 1em;
        margin-top: 1em;
        border-radius: 10px;
        border: 2px solid gray;
    }

    .connect-container>h3 {
        margin-top: 1em;
    }

    .social-media {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .codec-container {
        margin-top: 50px;
        width: 80%;
        height: 10em;
        background-color: #0a66c278;
        margin: 0 auto;
        margin-bottom: 1em;
        border-radius: 10px;
        border: 2px solid gray;
    }

    .codec-container>h3 {
        margin-top: 1em;
    }

    .socialMedia-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .socialMedia-image {
        height: 40px;
    }

    .socialMedia-image-U {
        height: 35px;
        margin-top: 2.5px;
    }

    .socialMedia-image-spot {
        width: 40px;
    }

    #apple-img {
        border-radius: 50%;
    }

    #underline {
        text-decoration: none;
    }

    .openModalBtn {
        background-color: rgba(255, 255, 255, 0.275);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 8px;
        border: 2px solid black;
        height: 3em;
        width: 5em;
        color: black;
        font-size: larger;
        font-weight: bolder;
        margin-bottom: 3em;
    }

    .openModalBtn:hover {
        background-color: rgba(0, 0, 0, 0.574);
        color: white;
        border: 2px solid white;
        /* position:relative; */
    }

    /* ModalConct */
    .modalBackground {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
        z-index: 99999;
    }

    .modalContainer {
        width: 40%;
        height: 65%;
        border-radius: 12px;
        background-color: #30353e;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .titleCloseBtn {
        display: flex;
        justify-content: flex-end;
    }

    .titleCloseBtn button {
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
    }
    .modalContainer .footer button {
        width: 150px;
        height: 45px;
        margin: 10px;
        border: none;
        background-color: cornflowerblue;
        color: white;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;
    }

    .modal-labels {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .modal-labels>label,input {
        margin-bottom: 1em;
    }

    .font-sizeUp {
        font-size: larger;
        font-weight: bolder;
    }

    .action-btns {
        margin-top: 2em;
    }

    .signUp-btn {
        width: 150px;
        height: 45px;
        margin: 10px;
        border: none;
        background-color: rgba(100, 148, 237, 0.364);
        border: 2px solid rgba(255, 255, 255, 0.596);
        color: white;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;
    }

    .signUp-btn:hover {
        background-color: rgba(100, 148, 237, 0.551);
        border: 2px solid white;
        font-weight: 500;
    }

    .cancel-btn {
        width: 150px;
        height: 45px;
        margin: 10px;
        color: white;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;
        background-color: #de1a1a54;
        border: 2px solid rgba(255, 255, 255, 0.596);
    }

    .cancel-btn:hover {
        background-color: #de1a1a96;
        border: 2px solid white;
        font-weight: 500
    }

    .x-btn {
        color: black;
        font-family: monospace;
    }