.nav-bar-main {
    background: linear-gradient(to bottom right, #30353e, black);
    color: white;
    display: flex;
    justify-content: center;
    padding: 2rem 6rem;
    box-shadow: 2px 2px 35px black;
}

.nav-bar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-logo-links {
    display: flex;
    align-items: center;
}


.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: large;
    font-weight: 600;
}
.nav-list>li:hover {
    color: #DE1A1A;
    position: relative;
    transition: 0.5s;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
}

.nav-link {
    font-weight: 600;
}
.list-margin {
    margin-right: 40px;
    /* padding: 5px; */
}

#nav-title {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

#ucbp-logo {
    height: 5em;
    width: auto;
    opacity: .5;
    transition: opacity 0.3s ease-in-out;
    margin-right: 1em;
    border-radius: 10px;
}

#ucbp-logo:hover {
    opacity: 1;
}

.connect-btn-link {
    width: 6rem;
    height: 29px;
    color: #DE1A1A;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.579);
    border: 1px solid #DE1A1A;
    transition: 0.2s ease-in-out;

}
.connect-btn-link:hover {
    background-color: #DE1A1A;
    color: white;
}
#nav-title {
    font-size: px;
    line-height: 29px;
}
.nav-bar-list {
    margin-left: 1rem;
    margin-top: 2rem;
    display: none;
    position: relative;
}

@media screen and (max-width: 1960px) {



}

/* Tablet */
@media screen and (max-width: 700px) {
    .nav-bar-main {
        padding: 2rem 4rem;
    }
}



/* Phone */
@media screen and (max-width: 550px) {
    .nav-bar-main {
        padding: 2rem;
    }

    .nav-right {
        display: none;
    }

    #nav-title {
        font-size:small;
    }

    .nav-bar-list {
        display: block;
    }

}