/* AboutMore */
.mid-about-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 1em;
    height: 30em;
    width: 80%;
    background: linear-gradient(#30353eaf, black);
    padding: 2em;
    border: 2px solid gray;
}

.mid-about-div:hover {
    background-color: #30353e;
}


.container-subText>h5 {
    font-size: large;
    line-height: 1.4rem;
}



.support-text-container>h6 {
    color: whitesmoke;
    font-weight: bolder;
}

#img-size {
    border-radius: 10px;
    /* margin-bottom: 5px; */
    width: 40rem;
}


/* Ipad Pro */
@media screen and (max-width: 1024px) {

}

/* Ipad Mini */
@media screen and (max-width: 768px) {

}

/* Phone */
@media screen and (max-width: 550px) {

}

/* An Even Smaller Phone */
@media screen and (max-width: 360px) {}